@charset "utf-8";

/*****************************


Colours
main background: #222;
content background:#444;
footer background: #333;
borders on header and main: #666;
main text: #d4d4d4;
header text: #eee;
footer text: #999;
anchor text: gold;
anchor hover: #fff;
text shadows - #000 (bottom right) and gold (top left)

Fonts
'Helvetica Neue', Calibri, Verdana, sans-serif;

Images
http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg
******************************/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}
html, body{
    font-size: 3vh;/* default font-size = 1.0rem */
    
}
h1{

   color: #eee;
   text-shadow: -2.5px -2.5px 1px gold, 2.5px 2.5px 1px #000;
   font-family: Calibri;sans-serif;
   text-align: center;
   font-size: 80px;
    
}
h3{
   font-family: Calibri;sans-serif;
    color:#eee;
    line-height: 120px;
    font-size: 40px;
    padding-left: 20px;
    padding-top: 20px;
}
p{ color: #d4d4d4;
   font-family: Calibri;sans-serif;
   font-size: 34px;
    padding:20px 15px 20px 15px;

}
nav a, nav a:link, nav a:visited{
    text-decoration: none;
    color: gold;
    font-family: Calibri;sans-serif;
    Font-size: 20px;
    padding: 0 45px 0 46px;

}
nav a:hover, a:active{
    color:#fff;
}
nav ul{
    background: #444;
    line-height: 50px;
    

}
nav li{

    display: inline;
    font-family: Calibri;sans-serif;
    font-size: 50px;
    
    

}
#wrapper{
    
    border-left: 200px solid #222;
    border-right: 200px solid #222;
    width:1300px;

}
#masthead{
    border-bottom: 8px solid #666;
    background: url("http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg");
    line-height: 300px;
    background-size: cover;

}
#main{
    border-top: 12px solid #666;
    background-color: #444;
    padding: 20px 15px 20px 15px;
    
    
   

}
#footer{
    background-color: #333;
    padding:20px 15px 20px 15px;

}
#footer p{
    color: #999;
    font-size: 15px;
    

}
#footer a{
    color: gold;
    font-size: 15px;

}
